{% extends 'base.html.twig' %}

{% block body %}
    <div class="cRetour"></div>

    Animaux
    <h3>Bienvenue sur notre site</h3>
    <h3>Bienvenue sur notre site</h3>
    <h3>Bienvenue sur notre site</h3>
    <h3>Bienvenue sur notre site</h3>
    <h3>Bienvenue sur notre site</h3>
    <h3>Bienvenue sur notre site</h3>

{% endblock %}
