<footer class="footer">
    <div class="container">

        <div class="row">
            <div class="col-sm qsn">
                <h3> Qui sommes nous ? </h3>
                <p> Je suis une développeuse web qui est également passionnée par le crochet.
                    <br> Je vous propose ici plusieurs type de réalisations :
                    <br> - Peluches
                    <br> - Accessoires maison
                    <br> - Etc...
                    <br> Alors n'hésitez pas à me contacter ou passer commande si un article (ou plusieurs) vous intéresse.</p>
            </div>

            <div class="col-sm qsn">
                <div class="row logo">
                    <h3>Nous suivre sur les reseaux sociaux</h3>
                    <div class="col-sm">
                        <div class="flex-center">
                            <!-- Facebook -->
                            <a class="fb-ic" href="https://www.facebook.com/Joelle087">
                                <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic" href="http://www.twitter.com/">
                                <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic" href="https://www.instagram.com/joelle87_crochet/?hl=fr/">
                                <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                            </a>
                            <!--Pinterest-->
                            <a class="pin-ic" href="http://www.pinterest.com/">
                                <i class="fab fa-pinterest fa-lg fa-2x" aria-hidden="true"> </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm qsn">
                <h3> Mentions Légales </h3>
                <p> Details mentions légales </p>
            </div>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Joelle_crochet</a>
    </div>

</footer>
