<nav id="navbar_bg" class="navbar navbar-expand-lg navbar-light">
    <a href="/home"><img class="logo" src="Pictures/tortue_1.jpg" alt="logo tortue"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Peluches
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/animaux">Animaux</a>
                    <a class="dropdown-item" href="/portes_clefs">Porte clef</a>
                    <a class="dropdown-item" href="/divers">Divers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Voir tout</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Divers pour la maison
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Accessoires Maison</a>
                    <a class="dropdown-item" href="#">Accessoires Beauté</a>
                    <a class="dropdown-item" href="#">Couvertures</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Voir tout</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Recherche</button>
        </form>
    </div>
</nav>